.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  label {
    margin-top: 10px;
  }
  
  input {
    margin-top: 5px;
    padding: 5px;
    width: 200px;
  }
  body{ background-color:beige};
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  